.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0 1rem;
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: black;
}
