.buttons > button {
  border-radius: 8px;
  padding: 0.375rem 1.5rem;
}

.uploadFileContainer > div {
	border-style: dashed;
  border-color: #CFD8DC;
  background-color: #F9F9F9;
	cursor: pointer;
  margin-bottom: 2rem; 
  padding: 3rem 6rem;    
  text-align: center;
}
